* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/background.jpg);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.all-games {
    display: flex;
    flex-wrap: wrap;

}

.games {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

button {
  background-color:  rgb(255, 140, 66);;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
